{% load static %}
<html>

<head>
    <script>
        window.onload = function () {
            var chartDataPoints1 = JSON.parse('{{ datapoints|escapejs }}');
            var chartDataPoints2 = JSON.parse('{{ datapoints2|escapejs }}');
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                exportEnabled: true,
                title: {
                    text: "Multi-series Column Chart"
                },
                legend: {
                    cursor: "pointer",
                    verticalAlign: "top",
                    itemclick: hideUnhideDataSeries
                },
                data: [{
                    type: "column",
                    name: "DataSeries 1",
                    showInLegend: true,
                    dataPoints: chartDataPoints1
                }, {
                    type: "column",
                    name: "DataSeries 2",
                    showInLegend: true,
                    dataPoints: chartDataPoints2
                }]
            });
            chart.render();

            function hideUnhideDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }

                e.chart.render();
            }
        }
    </script>
</head>

<body>
    <div id="chartContainer" style="width: 100%; height: 360px;"></div>
    <script src="{% static 'canvasjs/canvasjs.min.js' %}"></script>
</body>

</html>